*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* NAVBAR */
.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding:1rem 0.5rem;
}
.nav__toggle {
    height: fit-content;
}
.container {
    width: 94%;
    margin: 0 auto;
}
